.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.roboto-roboto-description-text {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
}

.space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
}

header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

header nav {
    background-color: #1b3755;
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    border-bottom: 2px solid gold;
}

header nav ul li {
    margin-right: 10px;
    background-color: #0f0f0f;
    padding : 5px 10px;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

header nav ul li:hover {
    background-color: #333;
    transform: scale(1.10); /* Slightly enlarges the button on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Adjust the values as needed */
    text-decoration: none;
}

:target {
    scroll-margin-top: 60px; /* Adjust this value based on your header's height */
}

#hero #about #portfolio #contact{
    margin-top: 60px; /* Adjust this value based on your header's height */
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #1b3755;
    color: #333;
}

main {
    margin-top: 40px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

h1, h2, h3 {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    color: #007bff;
}

a {
    color: #007bff;
    text-decoration: none; /* Removes the underline from links */
}

a:hover {
    text-decoration: underline; /* Adds an underline on hover */
}

.hero-image-container {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}

#blinking-text {
    font-family: "Roboto", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5em;
    font-weight: bold;
    text-shadow: 5px 2px 6px #000000;
    color: white;
    opacity: 0;
    transition: opacity 1s ease-in-out; /* this makes the fading smooth */
}

.head-image {
    display:block;
    object-fit: cover;
    width: 100%;
    height: 500px;
    
}

.head-image-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 500px;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #0b1521, #1b3755);
    color: white;
    text-align: center;
    padding: 1px, 1px;
}

#about {
    background: linear-gradient(to bottom, #1b3755, #0b1521, #0f0f0f);
    color: white;
    padding: 20px;
    text-align: center;
}

.about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 20px auto;
    background-color: #333;
}

.image-hover-container {
    position: relative;
    display: inline-block;
    width: 350px;
    height: 467px;
    margin: auto;
    font-size: 0; /* Removes unwanted space below the image */
}

.profile-text-overlay {
    position:absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 95.6%;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 70%, rgba(0, 0, 0, 0) 100%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    padding: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.image-hover-container:hover .profile-text-overlay {
    opacity: 1;
}

.profile-image {
    display: block;
    width: 350px;
    height: 466px;
    object-fit: cover;
}

#portfolio {
    background-color: #0f0f0f;
    color: white;
    padding: 5px;
}

.project-details {
    border: 1px;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #333;
}

.project-details summary {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    outline: none;
}

.project-details summary::before {
    content: '\25B6';
    color: gold;
    display: inline-block;
    transition: transform 0.2s ease;
}

.project-details[open] summary::before {
    transform: rotate(90deg);
}

.project-card {
    padding-top: 10px;
    border-top: 1px solid #eee; 
    margin-top: 10px;
}

.project-card p {
    color: #f4f4f4;
}

.project-card a {
    background-color: #0f0f0f;
    color: #007bff;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card a:hover {
    text-decoration: underline;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transform: scale(1.10); /* Slightly enlarges the button on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Adjust the values as needed */
    text-decoration: none;
}

#contact {
    padding: 30px;
    background: linear-gradient(to bottom, #0f0f0f, #1b3755);
    color: white;
}

.contact-container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid gold;
}

#contact h2 {
    text-align: center;
    margin-bottom: 20px;
    color: gold;
}

#contact ul {
    padding: 50px;
}
#contact ul a {
    margin-bottom: 10px;
    font-size: 18px;
    color: gold;
}
